        #navbarText {
            margin-left: 700px;
        }
        
        #logo {
            padding-left: 70px;
        }
        
        #ban {
            position: relative;
            width: 1400px;
            height: 657px;
            opacity: 0.9;
        }
        
        #text1 {
            margin-top: -600px;
            margin-left: -100px;
        }
        
        #fot {
            position: absolute;
            font-size: 47px;
            font-family: 'Exo 2';
            color: rgb(255, 255, 255);
        }
        
        #but {
            font-family: 'Exo 2';
            font-size: 23px;
            border-radius: 30px;
            background-color: rgb(251, 168, 2);
            color: white;
            border-style: none;
            position: absolute;
            margin-left: 185px;
            margin-top: 220px;
            padding-right: 15px;
            padding-left: 17px;
            padding-top: 8px;
            padding-bottom: 7px;
        }
        
        #sub {
            margin-right: 150px;
            margin-left: 180px;
            margin-top: 300px;
            padding-bottom: 500px;
            padding-left: 100px;
            padding-right:100px;
            padding-top: 100px;
            background-color: rgb(255, 255, 255);
            color: aliceblue;
            position: absolute;
            display:flex;
        }
        #x1:hover{
            background-color: rgb(240, 140, 0);
            display: inline-block;
        }
        #sub1{
            color: black;
            font-family: 'Exo 2';
            width: auto;
            float:left;
        }
        #more {display: none;}