        #navbarText {
            margin-left: 700px;
        }
        
        #logo {
            padding-left: 70px;
        }
        
        #ban {
            position: relative;
            width: 1370px;
            height: 657px;
            opacity: 0px;
        }
        
        #text1 {
            margin-top: -600px;
            margin-left: -100px;
        }
        
        #fot {
            margin-top:-700px;
            position: absolute;
            font-size: 47px;
            font-family: 'Exo 2';
            color: rgb(255, 255, 255);
        }
        
        #x1:hover {
            background-color: #ff9700;
            display: inline-block;
        }
        
        #but {
            font-family: 'Exo 2';
            font-size: 23px;
            border-radius: 30px;
            background-color: #ff9700;
            color: white;
            width: max-content;
            border-style: none;
            position: absolute;
            margin-left: 185px;
            margin-top: -400px;
            padding-right: 15px;
            padding-left: 17px;
            padding-top: 8px;
            padding-bottom: 7px;
        }
        
        #sub {
            margin-right: 150px;
            margin-left: 180px;
            margin-top: -300px;
            padding-bottom: 500px;
            padding-top: 100px;
            padding-right:20px;
            background-color: rgb(255, 255, 255);
            color: aliceblue;
            position: absolute;
            display: flex;
        }
        
        .sub1 {
            display: flex;
            color: black;
            font-family: 'Exo 2';
            width: auto;
            float: left;
            margin-left: 70px;
            padding-right: 20px;
        }
        
        #more {
            display: none;
        }
        
        #mi {
            position: absolute;
            margin-top: 150px;
            color: grey;
            padding-left: 400px;
            font-family: 'Exo 2';
            font-size: 20px;
        }
        
        #frame {
            width: 100px;
            position: absolute;
            margin-top: 300px;
            padding-left: 200px;
            display: flex;
            height: 500px;
        }
        
        #heading {
            width: 400px;
            margin-left: 100px;
            position: absolute;
            font-family: 'Exo 2';
        }
        
        #heading2 {
            font-family: 'Exo 2';
            position: absolute;
            width: 1000px;
            font-size: 20px;
            margin-top: 70px;
            margin-left: 100px;
        }
        
        #heading3 {
            position: absolute;
            width: 490px;
            margin-top: 150px;
            margin-left: 100px;
            color: grey;
        }
        
        #but1 {
            font-family: 'Exo 2';
            width: 200px;
            font-size: 23px;
            border-radius: 30px;
            background-color: #ff9700;
            color: white;
            border-style: none;
            position: absolute;
            margin-left: 120px;
            margin-top: 350px;
            padding-right: 20px;
            padding-left: 40px;
            padding-top: 10px;
            padding-bottom: 7px;
            display: flex;
        }
        
        #but2 {
            font-family: 'Exo 2';
            width: 200px;
            font-size: 23px;
            border-radius: 30px;
            background-color: rgba(35, 34, 32, 0.802);
            color: white;
            border-style: none;
            position: absolute;
            margin-left: 360px;
            margin-top: 350px;
            padding-right: 40px;
            padding-left: 40px;
            padding-top: 10px;
            padding-bottom: 7px;
        }
        
        #bc {
            position: relative;
            height: 685px;
            margin-top: 100px;
            
        }
        
        #fea {
            font-family: 'Exo 2';
            margin-top: -1200px;
            margin-left: 113px;
        }
        
     
        
        #card1 {
            display: flex;
            position: absolute;
            margin-left: 30px;
        }
        
        #card2 {
            display: flex;
            position: absolute;
            margin-left: 290px;
        }
        
        #card3 {
            display: flex;
            position: absolute;
            margin-left: 540px;
        }
        
        #card4 {
            display: flex;
            position: absolute;
            margin-left: 790px;
        }
        
        #bc1 {
            position: relative;
            height: 418px;
        }
        
        #bc2 {
            position: absolute;
            margin-top: -418px;
            margin-left: 700px;
            width: 670px;
            height: 418px;
        }
        #heading4{
            position: absolute;
            margin-left:200px;
            margin-top:-370px ;
            color: white;
            font-family: 'Exo 2';
        }
        #mid{
            position: absolute;
            font-size: 20px;
            margin-top:-310px ;
            font-family: 'Exo 2';
            color: grey;
            margin-left:150px;
        }
        #mid1{
            position: absolute;
            margin-left:200px;
            margin-top:-170px ;
            color: white;
            font-family: 'Exo 2';
        }
        #sil{
            position: absolute ;
            margin-left:200px;
            margin-top:-110px ; 
        }
        #heading5{
            padding: 40px;
            margin-left: 150px;
            font-family: 'Exo 2';
        }
        #but4,#but3{ 
            border-style: none;
            background-color: rgba(35, 34, 32, 0.802);
            color: white;
            font-size: x-small;
            border-radius: 25px;
            padding-bottom: 15px;
            padding-top: 15px;
            padding-right: 25px;
            padding-left: 25px;
            font-family: 'Exo 2';
        }
        #blog1{
            display: flex;
            position: relative;
            margin-left: 200px;
        }
        #blog1-text{
            position:absolute;
            margin-top: -330px;
            color: white;
            margin-left: 230px;
        }
        #blog1-text1{
            position:absolute;
            text-decoration: underline;
            font-size: x-small;
            color: white;
            margin-top: -50px;
            margin-left: 230px;
        }
        #blog2{
            display: flex;
            width: 527px;
            height:337px;
            margin-top: -340px;
            margin-left: 650px;
        }
        #blog3{
            display: flex;
            margin-top:50px;
            margin-left: 200px;
        }
        #blog4{
           
            display: flex;
            margin-top: -340px;
            margin-left: 779px;
        }
        #bc3{
            position: relative;
            margin-top: 70px;
        }
        #text1{
            position: absolute;
            margin-top: 100px;
        }

        body{
            overflow-x: hidden;
        }